.container-main {
    height: 100%;
}
.resource-search {
    .drop-down-button {
        border: none;
        border-radius: 0;
        background-color: #26c4ca;
        color: white;
    }
    .all-tables-container {
        overflow: hidden;
        margin-left: 12px;
        color: #c3aeae;
    }
    .all-tables-title {
        background-color: #e4dddd;
        padding: 3px 8px;
        border-radius: 2px;
    }
    .all-tables-p {
        float: left;
        padding: 0 6px;
        margin-bottom: 0;
    }
}
.resource-search-drop-down-ul {
    background-color: #26c4ca;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff;
    border-radius: 0;
    .sub-title {
        color: #fff;
    }
    .ant-dropdown-menu-submenu-title:hover {
        background-color: #1e9ca0;
    }
}
.resource-search-drop-down-ul:hover {
    background-color: #1e9ca0;
}